
body {
	background-color: black;
}
#main {
	height: 500px;
	background-color: white;
	width: 100%;
	margin-top: 7%;
	padding-left: 100px;
	position: relative;
	box-sizing: border-box;
}
.ryu {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
  position: absolute;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.ryu-ready, .ryu-throwing {
  display: none;
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 34%;
  /*right: 0;*/
  left: 520px;
}
